@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
    --body-font-family: 'WorkSans-Regular', Helvetica;
    --gray-300: #d0d5dd;
    --gray-500: #667085;
    --gray-700: #2f2f30;
    --gray-900: #101828;
    --header-1-font-family: 'WorkSans-Bold', Helvetica;
    --header-2-font-family: 'WorkSans-Bold', Helvetica;
    --iris-100: #1d4ede;
    --iris-60: #a5a6f6;
    --iris-80: #7879f1;
    --primary-50: #f9fafc;
    --primary-600: #7f56d9;
    --shadow-xs: 0px 1px 2px 0px #1018280d;
    --text-md-medium-font-family: 'Inter-Medium', Helvetica;
    --text-md-regular-font-family: 'Inter-Regular', Helvetica;
    --text-sm-medium-font-family: 'Inter-Medium', Helvetica;
    --text-sm-regular-font-family: 'Inter-Regular', Helvetica;
    --white: #ffffff;
}

@layer base {
    body {
        @apply p-0 m-0;
    }
}
